@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>
    Este site é criado apenas com a finalidade de melhorar nos estudos!!
</p>
<p>Feito por <a href="">Daivison Batista</a></p>
